@use "../../scss//utils/index" as utils;

.plan_table {
  padding-top: 3rem;
  padding-bottom: 6rem;
  font-size: utils.getRem(12);
  letter-spacing: utils.getRem(2);
  font-weight: bold;

  h1 {
    text-align: center;
    margin-bottom: utils.getRem(20);
  }

  &__head,
  &__body {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid black;
    padding: 1.5rem 1rem;

    > div:last-of-type {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @include utils.breakpoint-down("small-desktop") {
      width: 60%;
    }

    @include utils.breakpoint-down("tablets") {
      width: 90%;
    }
  }

  &__head {
    @include utils.breakpoint-down("mobile") {
      > div:last-of-type {
        display: none;
      }
    }
  }

  &__body {
    border-color: rgba(0, 0, 0, 0.25);

    img {
      margin-left: 1rem;
      width: utils.getRem(12);
      height: utils.getRem(12);
    }

    span {
      display: none;
    }

    @include utils.breakpoint-down("mobile") {
      > div:first-of-type {
        grid-row: 1/1;
        grid-column: 1/3;
        padding-bottom: 1rem;
      }

      > div:last-of-type {
        text-transform: uppercase;
        grid-row: 2/2;
        grid-column: 1/3;
      }

      span {
        display: inline;
        opacity: 0.5;
      }

      img {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}
