@use "../../scss/utils/index" as utils;

.plan_card {
  text-align: center;
  background-color: var(--light-gray);
  padding: 2.5rem 2rem;

  button {
    width: 100%;
    padding: utils.getRem(12);
    margin-top: 3rem;
    background-color: black;
    color: white;

    &:hover {
      background-color: var(--light-gray-2);
      color: black;
    }
  }

  &:nth-of-type(even) {
    padding: 5rem 2rem;
    background-color: black;
    color: white;
    position: relative;

    button {
      background-color: white;
      color: black;

      &:hover {
        background-color: var(--light-gray-2);
      }
    }

    > div {
      position: absolute;
      width: 100%;
      height: utils.getRem(6);
      top: 0;
      left: 0;
      right: 0;
      background: var(--horizontal_gradient);
    }

    @include utils.breakpoint-down("tablets") {
      padding: 2.5rem 2rem;

      > div {
        height: 100%;
        width: utils.getRem(6);
        background: var(--vertical_gradient);
      }
    }

    @include utils.breakpoint-down("mobile") {
      padding: 4rem 2rem;

      > div {
        width: 100%;
        height: utils.getRem(6);
        background: var(--horizontal_gradient);
      }
    }
  }

  p {
    opacity: 0.5;

    &:first-of-type {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  @include utils.breakpoint-down("tablets") {
    display: grid;
    grid-template-columns: 3fr 4fr;
    text-align: left;

    p:first-of-type {
      grid-row: 2/2;
      margin: 0;

      @include utils.breakpoint-down("mobile") {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
      }
    }

    h1,
    p:last-of-type {
      text-align: right;
    }
  }

  @include utils.breakpoint-down("tablets") {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1,
    p:last-of-type {
      text-align: center;
    }
  }
}
