@use "../utils/index" as utils;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
  transition: all 0.25s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-size: utils.getRem(12);
  letter-spacing: utils.getRem(2);
  font-weight: bold;
  border: none;
}

img {
  display: block;
}
