@use "../../scss/utils/index" as utils;

.main_story {
  display: flex;
  align-items: stretch;

  > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6%;
    gap: utils.getRem(30);
    position: relative;
    width: 45%;

    p {
      opacity: 0.5;
    }

    .hr {
      width: utils.getRem(6);
      height: 50%;
      margin: 0;
      background: var(--vertical_gradient);
      border: none;
      position: absolute;
      left: 0;
      display: block;
      margin-right: auto;
    }

    @include utils.breakpoint-down("tablets") {
      width: 60%;
    }
  }

  > div:last-of-type {
    width: 55%;

    picture {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include utils.breakpoint-down("tablets") {
      width: 40%;
    }
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}
