:root {
  --light-gray: #dfdfdf;
  --light-gray-2: #b0aeae;
  --vertical_gradient: linear-gradient(to bottom, #5a77ff, #bc7198, #ffc593);
  --horizontal_gradient: linear-gradient(to right, #5a77ff, #bc7198, #ffc593);
}
