@use "../../scss/utils/index" as utils;

.stories_banner {
  position: relative;

  picture {
    width: 100%;

    img {
      width: 100%;
    }
  }

  > div {
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3,
    h1 {
      text-transform: uppercase;
      letter-spacing: utils.getRem(2);
    }

    h1 {
      margin: utils.getRem(20) 0;
    }

    p:not(.stories_banner__author),
    time {
      opacity: 0.5;
    }

    p:not(.stories_banner__author) {
      margin: 1rem 0;
      line-height: utils.getRem(25);
    }

    @include utils.breakpoint-down("small-desktop") {
      width: 45%;
    }

    @include utils.breakpoint-down("tablets") {
      left: 5%;
    }

    @include utils.breakpoint-down("tablets") {
      position: static;
      background-color: black;
      width: 100%;
      padding: 4rem 2rem;
    }
  }

  @include utils.breakpoint-down("mobile") {
    position: static;
  }
}
